:root {
  --primary-color: hsl(199, 100%, 33%);
  --secondary-color: hsl(187, 85%, 43%);
  --gradient-color: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(201, 33%, 16%);
  --text-color: hsl(240, 4%, 36%);
  --white-deam-color: hsl(0, 0%, 93%);
  --grey-color: rgb(190, 190, 190);
  --input-color: rgb(239, 239, 239);
  --body-color: rgb(240, 240, 246);
  --card-bg-color: rgb(225, 225, 235);
  --card-hover: rgb(255, 255, 255);
}

.home {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.home .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(47, 106, 127);
  top: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: hard-light;
}
.home .banner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .home-content {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 8rem 1.5rem 3rem;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: var(--white-color);
  z-index: 100;
}
.home .home-content .text-div {
  padding: 2rem 0;
}
.home .home-content .text-div .small-text {
  font-size: 13px;
  text-transform: uppercase;
}
.home .home-content .text-div .home-title {
  position: relative;
  font-size: 1.8rem;
}
.home .home-content .card-div {
  position: relative;
  padding: 2rem 1rem;
  background: var(--white-color);
  border-radius: 10px;
  gap: 1rem;
}
.home .home-content .card-div label {
  display: block;
  color: var(--text-color);
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.home .home-content .card-div .label-total {
  justify-content: space-between;
  align-items: center;
}
.home .home-content .card-div .label-total .total {
  color: var(--text-color);
  font-size: 18px;
  padding-bottom: 10px;
}
.home .home-content .card-div .input {
  height: 40px;
  padding: 0 1rem;
  background: var(--input-color);
  border-radius: 3rem;
}
.home .home-content .card-div .input input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
}
.home .home-content .card-div .input input::-moz-placeholder {
  font-size: 13px;
}
.home .home-content .card-div .input input::placeholder {
  font-size: 13px;
}
.home .home-content .card-div .input .icon {
  font-size: 18px;
  color: var(--primary-color) !important;
  margin-left: 10px;
}
.home .home-content .card-div .input .input [type=range] {
  background: blue;
}
.home .home-content .card-div .search-options {
  position: absolute;
  background: var(--gradient-color);
  width: -moz-max-content;
  width: max-content;
  bottom: -0.7rem;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  padding: 5px 1rem;
  border-radius: 3rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  cursor: pointer;
}
.home .home-content .card-div .search-options:hover {
  background: var(--primary-color);
}
.home .home-content .card-div .search-options .icon {
  font-size: 18px;
}
.home .home-content .card-div .search-options span {
  font-size: 13px;
}
.home .home-content .home-footer-icons {
  width: 100%;
  justify-content: space-between;
}
.home .home-content .home-footer-icons .icon {
  font-size: 20px;
  margin: 0 5px;
  color: var(--white-color);
  font-weight: 600;
}
.home .home-content .home-footer-icons .icon:hover {
  color: var(--primary-color);
}

@media screen and (min-width: 660px) {
  .home .home-content .card-div {
    padding: 2rem 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .home .home-content .text-div .small-text {
    font-size: 16px;
  }
  .home .home-content .text-div .home-title {
    position: relative;
    font-size: 2.3rem;
    width: -moz-max-content;
    width: max-content;
  }
  .home .home-content .text-div .home-title::after {
    position: absolute;
    content: "";
    background: var(--secondary-color);
    height: 5px;
    width: 145px;
    right: 0px;
    bottom: 0;
    z-index: -1;
  }
  .home .home-content .card-div {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 940px) {
  .home {
    height: 85vh;
  }
}
@media screen and (min-width: 1240px) {
  .home {
    height: 95vh;
  }
  .home .home-content {
    padding-left: 0;
    padding-right: 0;
  }
  .home .home-content .card-div {
    padding: 2rem 1rem;
  }
  .home .home-content .card-div .input {
    margin-bottom: 1rem;
  }
  .home .home-content .card-div .search-options {
    bottom: -1rem;
    padding: 8px 1rem;
  }
  .home .home-content .card-div .search-options span {
    font-size: 17px;
  }
}/*# sourceMappingURL=home.css.map */