:root {
  --primary-color: hsl(199, 100%, 33%);
  --secondary-color: hsl(187, 85%, 43%);
  --gradient-color: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(201, 33%, 16%);
  --text-color: hsl(240, 4%, 36%);
  --white-deam-color: hsl(0, 0%, 93%);
  --grey-color: rgb(190, 190, 190);
  --input-color: rgb(239, 239, 239);
  --body-color: rgb(240, 240, 246);
  --card-bg-color: rgb(225, 225, 235);
  --card-hover: rgb(255, 255, 255);
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-deam-color);
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.204);
}
.header .logo {
  color: var(--black-color);
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.header .logo .icon {
  font-size: 25px;
  color: var(--primary-color);
  transform: translateY(5px);
}
@media screen and (max-width: 768px) {
  .header .navbar {
    position: absolute;
    background: var(--white-deam-color);
    height: -moz-max-content;
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: -500rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
    transition: 0.5s ease-in-out;
  }
  .header .navbar .nav-list {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }
  .header .navbar .nav-list .nav-item {
    padding: 0.5rem 0;
  }
  .header .navbar .nav-list .nav-item .nav-link {
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 600;
  }
  .header .navbar .nav-list .nav-item .nav-link:hover {
    color: var(--primary-color);
  }
  .header .navbar .nav-list .btn {
    margin-top: 1rem;
  }
  .header .navbar .nav-list .btn a {
    font-weight: 600;
    color: var(--white-color);
  }
  .header .navbar .close-navbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--primary-color);
  }
  .header .navbar .close-navbar:hover {
    color: var(--secondary-color);
  }
  .header .activeNavbar {
    top: 7rem;
  }
}
.header .toggle-navbar .icon {
  font-size: 25px;
  color: var(--primary-color);
}
.header .toggle-navbar .icon:hover {
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .toggle-navbar,
  .close-navbar {
    display: none;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  .header .navbar .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .header .navbar .nav-list .nav-item .nav-link {
    color: var(--text-color);
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .header .navbar .nav-list .nav-item .nav-link:hover {
    color: var(--primary-color);
  }
  .header .navbar .nav-list .btn {
    margin-left: 1rem;
  }
  .header .navbar .nav-list .btn a {
    color: var(--white-color);
    font-weight: 500;
  }
}
@media screen and (min-width: 960px) {
  .header .navbar .nav-list .nav-item {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1240px) {
  .header {
    padding: 1rem 8.5rem;
  }
}/*# sourceMappingURL=navbar.css.map */